*{
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}
body{
  font-family: 'Poor Story', cursive;
font-family: 'Roboto Mono', monospace;
font-size: clamp(0.5rem,1rem,2vw);

}
.header,
.side-bar, 
.projects-section, 
.announcement-section,
.trending-section{
  
}
.container{
  display: grid;
  grid-template-columns: 1fr 4fr;
 

}

.header{
  grid-column: 2/3;
  display:flex;
  flex-direction: column;
}

a{
  text-decoration: none;

  color: black;
}
.header ul a{
  background-color:#6184D8;
  color: white;
  padding: 8px 24px;
  border-radius: 26px;
  font-weight: bold;
}
.header ul a:hover,
.header ul a:active{
  
  background-color:#395db1;
}
.icon{
  width:clamp(1rem,34em,2vw);
  height:auto;
}

.search-profile-section{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2.5em;
 
}.search-profile-section .search-bar input{
  width: 45vw;
  height: 2rem;
  margin-right: 3rem;
  border-radius: 16px;
  background-color: aliceblue;
 
}
.search-profile-section .profile-img{
  background-color: #FFD334;
  padding: 8px;
  border-radius: 50%;
}
.search-profile-section .header-profile-name{
  font-weight: bold;
  font-size: 1rem;
}
.notification-icon{
padding:8px;
}
.notification-icon:hover{
  background-color: rgb(228, 224, 224);
  border-radius: 50%;
}
.username{
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 1.5rem;
}
.username:hover{
  background-color:rgb(228, 224, 224) ;
  border-radius: 26px;
}


.menu-profile-section{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2.5rem;
 
  
}
.menu-profile-section .profile-img{
padding: 12px;
border-radius: 50%;
background-color: #FFD334;
}

.profile-section{
  display: flex;
  gap: 8px;
  padding: 8px 24px;
  align-items: center;
  margin-left: -24px;
}
.profile-section:hover{
  background-color: rgb(228, 224, 224);
  border-radius: 38px;
}

.header-menu ul{
  list-style: none;
  display: flex;
  gap: 1.5rem;
 
}

.side-bar{
  display: grid;
  grid-template-rows: 0.15fr 0.5fr 2fr;
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: rgb(252, 252, 252);
  color: black;

  
  
}
.side-bar-item{
  padding: 1rem 2rem;
  font-size: 2.5vh;

}
.side-bar-item:hover,
.side-bar .dashboard:hover{
  border-radius: 3rem;
  background-color: rgb(228, 224, 224);
}
.side-bar-item p a{
  color: black;
  font-weight: bold;
  
  
  
}


.side-bar-nav-1{
  
}
.side-bar .dashboard{
  display: flex;
  gap: 0.5rem;
  font-size: clamp(1vw,1.5rem,2rem);
  font-weight: bold;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  

  }
  .side-bar .dashboard .icon{
    width: clamp(1rem,5vw,2rem);
  }
  

.side-bar-nav-2{
  margin-top: 2rem;
}
.side-bar-item{
  display: flex;
  gap: 0.5rem;
  align-items: center;
  
}



.main-section-container{
  overflow: auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column: 2/3;
  grid-row: 2/3;
}
.projects-section{
  grid-row: 1/3;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
}
.projects-section .card{
  height: 400px;
}
.footer{
  grid-column: 1/3;
  grid-row: 3/4 ;
}


